<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />

<body class=" h-100 text-center text-light bgs">
    
    <div class="center-text fade-in-text">
      <main>
        <h1 class="">Welcome to MonsterWorkout</h1>
        <p class="lead ">The site where mere humans are transformed into the beasts burried within. Begin your journey today and learn what it means to truly be a monster.</p>
        <p class="lead ">
          <a href="/home" class="btn btn-lg text-light fw-bold  btn-dark fade-in-text-btn">Start now</a>
          <% if (name === "") { %>
          <a href="/login" class="btn btn-lg  text-dark fw-bold  btn-light fade-in-text-btn">Login</a>
          <% } %>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Made by <a href="https://main.d16vgy9a6g7ccb.amplifyapp.com/" class="text-white">J-Kizzy</a></p>
      </footer>
    </div>
    
    
        
      </body>
    </html>
    