<%- include("partials/header.ejs") -%>
<link href="/styles.css" rel="stylesheet" />

<body class=" h-100 text-center text-white bg-dark">
    
    <div class="center-text fade-in-text">
      <main>
        <h1 class="text-danger">Welcome to MonsterWorkout</h1>
        <p class="lead text-danger">The site where mere humans are transformed into the beasts burried within. Begin your journey today and learn what it means to truly be a monster.</p>
        <p class="lead text-danger">
          <a href="/home" class="btn btn-lg btn-secondary text-dark fw-bold border-dark bg-danger fade-in-text-btn">Start now</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Made by <a href="https://main.d16vgy9a6g7ccb.amplifyapp.com/" class="text-white">J-Kizzy</a></p>
      </footer>
    </div>
    
    
        
      </body>
    </html>
    